<div class="body-content">
  <h1>{{vm.job.title}} </h1>

  <p>
    Description: {{vm.job.description}}</br>
    Experiences: {{vm.job.experience}}</br>
    Skills:{{vm.job.skills}}</br>
    Salary: {{vm.job.salary | currency}}</br>
    Date Posted: {{vm.job.postDate | date: dd.MM.yyyy}}</br>
    City: {{vm.location.city}}</br>
    State: {{vm.location.state}}</br>
    Zip: {{vm.location.zip}}</br>
  </p>

  <form name="vm.updateJobForm" ng-submit="vm.updateJob()">

    Please fill and update the required fields:<br />
    Description: <input type="text" name="description" required ng-model="vm.editedJobDescription"
      style="color:black" />
    <br />
    Experience: <input type="text" name="experience" required ng-model="vm.editedJobExperience" style="color:black" />
    <br />
    Skills: <input type="text" name="skills" required ng-model="vm.editedJobSkills" style="color:black" /><br />
    <br />
    <button type="submit" class="btn-success">Update Job Post</button>
    &nbsp;
    <button type="submit" class="btn-danger" ng-click="vm.deleteJob(vm.job._id)">Delete Job Post</button>
  </form>
  <br />

  <ng-form name="vm.updateLocationForm" ng-submit="vm.updateLocation()">

    City:
    <input type="text" name="city" required ng-model="vm.editedCity" style="color: black" /><br />

    State:
    <input type="text" name="state" required ng-model="vm.editedState" style="color: black" /><br />

    Zip:
    <input type="text" name="zip" required ng-pattern="/^(0-9){5}$/" ng-model="vm.neditedZip"
      style="color: black" /><br />

    <button type="submit" class="btn-success">Add/Edit Location</button><br />

    </form>
    <br /> <br />
    <button class="btn-secondary"><a href="../../index.html">Go to MainPage</a></button>

</div>