<div class="body-content">
  <h1> {{vm.game.title}} </h1>
  <p>
  <h2>Rating: <game-rating stars={{vm.rating}}></game-rating>
  </h2>
  </p>
  <p>
    Price: {{vm.game.price | currency}}<br />
    Minimium players: {{vm.game.minPlayers}}</br>
    Maximum players: {{vm.game.maxPlayers}}</br>
    Minimium Age: {{vm.game.minAge}}</br>
    Designer: {{vm.game.designer}}</br>
  </p>


  <form name="vm.updateGameForm" ng-submit="vm.updateGame()">

    To add a new game please fill in all the fields below:<br />

    Price: <input type="text" name="price" required ng-model="vm.editedGamePrice" style="color:black" /><br />

    Minimum Number of Players: <input type="text" name="minPlayers" required ng-pattern="/^[0-9]{1,2}$/"
      ng-model="vm.editedGameMinPlayers" style="color:black" />
    <br />
    <span
      ng-show="vm.updateGameForm.minPlayers.$dirty && vm.updateGameForm.minPlayers.$invalid && vm.updateGameForm.isSubmitted"
      style="color:black">Minimum players must be at least 1.</span>
    <br />

    Maximum Number of Players: <input type="text" name="maxPlayers" required ng-model="vm.editedGameMaxPlayers"
      style="color:black" /><br />

    Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="vm.editedGameMinAge"
      style="color:black" /><br /><br />
    <button type="submit" class="btn-success">Update Game</button>
  </form>
  <br />
  <button type="submit" class="btn-danger" ng-click="vm.deleteGame(vm.game._id)">Delete Game</button>

  <br />
  <br />
  <button class="btn-secondary"><a href="../../index.html">Go Back</a></button>

</div>